* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.banner {
    background-image: url(./images/Banner_mobile.png);
    opacity: 0.95;
    box-shadow: 1px 6px 11px 0px rgba(128,128,128,0.43);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.logo {
    position: absolute;
    left: 10%;
    top: 5%;
}
.animation {
    animation: banner-animation 3s ease-in-out 1s 1 normal forwards;
}
h1 {
    color: azure;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 850px;
    padding: 15px 20px;
}
.features-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}
.feature-item h3 {
    margin-top: 15px;
}
.who-we-are {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    box-shadow: 1px 6px 11px 0px rgba(128,128,128,0.43);
}
.who-we-are h2 {
    margin-bottom: 18px;
}
.who-we-are img {
    opacity: 0.8; 
    width: 100%;
}
.wwa-content {
    padding: 3% 3%;
    color: whitesmoke;
    background-color: #246B8C;
}
.wwa-content p {
    margin: 10px 0px;
}
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.reviews h2 {
    margin: 10px 0px;
}
.slider-container {
    display: flex;
    width: 80%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.slider-container div {
    scroll-snap-align: center;
    width: 80%;
    padding-bottom: 30px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider-container div h3, h4 {
    color: #242E33;
}
.slider-container div:first-child {
    margin-left: 25%;
}
.slider-container div:last-child {
    margin-right: 25%;
}
.slider-container div img {
    clip-path: circle(125px at center);
    margin-bottom: 20px;
    opacity: 0.9;
}
.slider-container div p {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
}
footer {
    height: 40vh;
    padding-bottom: 20px;
    color: whitesmoke;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-image: url(./images/Banner_mobile.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
footer p {
    padding-bottom: 20px;
    font-size: 18px;
}
.social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}
@media screen and (600px < width <= 1201px){
    .banner {
        background-image: url(./images/Banner_desktop.png);
    }    
    .features {
        height: auto;
    }
    .features-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .who-we-are img {
        clip-path: none;
        height: auto;
    }
    .wwa-content {
        padding: 1% 2%;
    }
    .slider-container {
        width: 95%;
    }
    .slider-container div:first-child {
        margin-left: 5%;
    }
    .slider-container div:last-child {
        margin-right: 5%;
    }
}
/*Desktop wide*/
@media screen and (width > 1201px){
    .banner {
        background-image: url(./images/Banner_desktop.png);
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }    
    .logo {
        left: 25%;
        top: 5%;
    }
    .features {
        max-width: 1200px;
        margin: auto;
        height: auto ;
        padding: 15px 0px;
    }
    .features-container {
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 10%;
    }
    .who-we-are {
        max-width: 1200px;
        margin: auto;
    }
    .who-we-are img {
        height: 775px;
    }
    .wwa-content {
        padding: 1% 2%;
    }
    .reviews {
        max-width: 1200px;
        margin: auto;
    }
    .slider-container {
        width: 95%;
        overflow-x: auto;
        scroll-snap-type: none;
    }
    .slider-container div:first-child {
        margin-left: 0px;
    }
    .slider-container div:last-child {
        margin-right: 0px;
    }
    footer {
        max-width: 1200px;
        margin: auto;
    }
}
@media screen and (width > 2200px){
    .logo {
        left: 30%;
        top: 5%;
    }
}
@keyframes banner-animation {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}
	15% {
		transform: translateX(-30px) rotate(-6deg);
	}
	30% {
		transform: translateX(15px) rotate(6deg);
	}
	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}
	60% {
		transform: translateX(9px) rotate(2.4deg);
	}
	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}