/* * {
    font-family: 'Montserrat', sans-serif;
} */
.bg-light-custom{
    background-color: transparent;
}
.carousel-item-custom {
    height: 110vh;
    min-height: 300px;
}
.carousel-item-custom img{
    width: 100%;
}
.carousel-caption-custom {
    bottom: 220px;
}
.carousel-caption-custom h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption-custom p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-caption-custom a {
    text-transform: uppercase;
    text-decoration: none;
    background: darkorange;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    margin-top: 15px;
}
.navbar-nav a {
    font-size: 18px;
    font-weight: 500;
}
.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}
.pastillas-container{
    max-height: 70%;
}
.video-text-intro {
    font-size: 18px;
}
@media screen and (width < 1250px){
    .carousel-item-custom {
        height: 100vh;
        min-height: 200px;
    }
    .carousel-item-custom img{
        object-fit: cover;
        height: 100vh;
    }
    .carousel-caption {
        bottom: 165px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    .video-text-intro {
        font-size: 14px;
    }
}
@media screen and (width < 450px){
    .text-footer {
        font-size: 12px;
    }
}